.template blockquote {
    padding: 1rem;
    border-left: 2px solid black;
}

.template img {
    width: 100%;
    height: 300px;
    border-radius: 10px;

    object-fit: cover;
    object-position: center;
}