.subscribe.container {
margin: 40px auto;
}
.subscribe-block {
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    padding: 40px 60px;
    width: 60%;
    margin: auto;
}