.social {
  width: 100%;
  background: rgb(38, 41, 46);
  text-align: center;
}

.social ul {
  margin: 0em !important;
}

.social ul li {
  display: inline !important;
  margin: 0 0.5em !important;
}

.social ul li a {
  color: white !important;
  opacity: 0.5 !important;
  text-decoration: none !important;
}

.social ul li a:hover {
  color: rgb(30, 87, 124) !important;
  opacity: 1 !important;
}
